header > h1 {
	text-align: center;
}

div.bloque {
	overflow: auto;
}

article#datos > h2 {
	text-align: center;
}

div.habilidad > div {
	display: inline-block;
	border: 1pt solid #cbccc1;
}

div.habilidad {
	display: inline-block;
}

.numero {
	border-radius: 25px;
	background: #134CA3;
	color: white;
	height: 38px;
	width: 38px;
	position: absolute;
	text-align: center;
	line-height: 35px;
}

.topic {
	border-radius: 25px;
	background: #E0E0E0;
	color: black;
	padding: 10px;
	height: 36px;
	width: 85%;
	box-shadow: 2px 3px 3px #888888;
	padding-left: 50px;
	margin-left: -1px;
	margin-right: 40px;
}

body {
	font-family: Arial;
}

ul {
	list-style-type: none;
}